{% extends "base.html" %}
{% block body %}
<div id = 'job-main'>
    <h1 id = 'title'>Finance Manager</h1>
    <h3 id = 'company'>Accountancy Action Ltd</h3>
    <div id = 'description'>
        <p>
            Excellent opportunity to join our client, an expanding business based in Letchworth, who are looking to recruit an ACA qualified Accountant to head up its small finance team. Reporting to the Finance Director, you'll assume day to day responsibility for managing and developing the team, ensuring the timely completion of all statutory and management reporting • Monthly management accounting • Budgeting and Forecasting • Annual statutory accounts • Managing a small finance function You're ACA qualified with previous management experience and have strong technical and interpersonal skills. This role may well suit someone who is looking to make their first move out of practice.
        </p>

    </div>
</div>
{% endblock %}