{% extends 'base.html' %}
{% block body %}

<form action = '/createjob' method = 'POST'>
    <h2>Create New Job</h2>
    <p>Title</p>
    <p><input type = 'text' name = 'title' value = "{{ title }}" required></p>
    <p>Company</p>
    <p><input type = 'text' name = 'company' value = "{{ company }}" required></p>
    <p>Job Description</p>
    <textarea type = 'text' name = 'description'>{{ description }}</textarea>

    <p>Recommend job category</p>
    <input type = 'text' name = 'category' value = "{{ prediction }}">

    <input type = 'submit' name = 'button' value = 'classify job'>
    <input type = 'submit' name = 'button' value = 'save job'>
    <p style="color:red"> {{ category_flag }} </p>
</form>
{% endblock %}